---
title: Collages
---

<html>
 <body>
	<div id="page_accueil">
     	 <div id="section">
           </div>
               
     	 <div id="couverture_img_collages">
                    <div class="nav_projet">
                         <div class="row">
                                <div class="col-xs-4 text-left navprojetgauche">
                                   <% link_to "/karodart.html", :class => "animsition-link" do %>
                                   <div id="fleche_gauche">
                                    <%= image_tag"fleche_gauche.svg" %> 
                                   </div>
                                   <i>Précédent</i>
                                   <% end %> 
                                </div>

                                <div class="col-xs-4">
                                </div>

                                <div class="col-xs-4 text-right navprojetdroit">
                                   <% link_to "/cotebassin.html", :class => "animsition-link" do %>
                                   <i>Suivant</i>
                                   <div id="fleche_droite">
                                     <%= image_tag"fleche_droite.svg" %> 
                                   </div>
                                   <% end %> 
                                </div>
                         </div>
                    </div>
               </div>

          <div class="vertical_spacer">
          <br> </br>
          </div>

     	 	<div class="presentation_projet text-center">
     	 		<br> </br>
     	 		<h2 class="slideInDown">COLLAGES</h2>
     	 		<h3 class="slideInDown">Design Graphique</h3>
     	 		<%= image_tag "losange.png"%>
          
     	 		<h4 class="fadeInDown">DIRECTION ARTISTIQUE – CREATION D'IMAGES</h4>
     	 		
     	 		<p class="fadeInDown">
     	 		Création de collages surréaliste à partir de photographies vintage.
     	 		</p>
     	 		<br> </br>
     	 	</div>
               <div class="frise_haut">
                         <svg version="1.1" id="frise_haut" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                               width="124.75px" height="9.75px" viewBox="0 0 124.75 9.75" enable-background="new 0 0 124.75 9.75" xml:space="preserve">
                                    <g stroke="#000" stroke-width="1" fill="none">
                                        <path fill="none" stroke="#1E1E1C" stroke-width="0.75" stroke-miterlimit="10" d="M2.971,7.734h83.862"/>
                                        <path fill="none" stroke="#1E1E1C" stroke-width="0.75" stroke-miterlimit="10" d="M2.969,2.625H123"/>
                                    <g/>  
                              </svg>     
                        </div>

                        <div id="vertical_spacer5"></div>


                        <div class="container">
                                <div class="row appearIn">
                                        <div class="col-md-12 text-center" id="projet_collages_contenu1"> 
                                          <%= image_tag"collages_photo1_projet.jpg" %>
                                        </div> 
                                </div>

                                <div id="vertical_spacer5"></div>  

                                <div class="row">

                                        <div class="col-md-12 text-center" id="projet_collages_contenu2"> 
                                          <%= image_tag"collages_photo3_projet.jpg" %>  
                                        </div>                              
                                </div> 

                                <div id="vertical_spacer5"></div>   

                         <div class="row">
                                        <div class="col-md-12 text-center" id="projet_collages_contenu3"> 
                                          <%= image_tag"collages_photo4_projet.jpg" %>  
                                        </div>   
                        </div> 

                        <div id="vertical_spacer5"></div>  

                                                <div class="frise_bas">
                          <svg version="1.1" id="frise_bas" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="124.75px" height="9.75px" viewBox="0 0 124.75 9.75" enable-background="new 0 0 124.75 9.75" xml:space="preserve">

                               <g stroke="#000" stroke-width="1" fill="none">     

                              <path fill="none" stroke="#1E1E1C" stroke-width="1" stroke-miterlimit="10" d="M122.998,2.625H39.136 M123,7.734H2.969"/>
                                             
                               <g/>   
                              </svg>      
                        </div>

                        <div id="vertical_spacer5"></div>  
                        <div id="vertical_spacer5"></div>  


                    </div> 



                        <div class="vertical_spacer">
                          
                                       
                        </div> 

                        <div class="signature text-center">
                                <p>
                                  <i>
                                  <svg version="1.1" class="goutte_gauche" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        width="20px" height="14px" viewBox="0 0 595.279 841.891" enable-background="new 0 0 595.279 841.891"
                                        xml:space="preserve">
                                        <path d="M499.238,433.077c0,108.204-87.773,195.931-195.948,195.931c-108.198,0-195.919-87.727-195.919-195.931
                                        c0-108.24,130.045-215.331,195.919-380.218C374.343,209.906,499.238,324.837,499.238,433.077z"/>
                                        </svg>
                                        Say Hype, Studio de Communication Globale - 30 rue de la Vieille Tour, Bordeaux, France 
                                        <svg version="1.1" class="goutte_droite" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        width="20px" height="14px" viewBox="0 0 595.279 841.891" enable-background="new 0 0 595.279 841.891"
                                        xml:space="preserve">
                                        <path d="M499.238,433.077c0,108.204-87.773,195.931-195.948,195.931c-108.198,0-195.919-87.727-195.919-195.931
                                        c0-108.24,130.045-215.331,195.919-380.218C374.343,209.906,499.238,324.837,499.238,433.077z"/>
                                  </svg>
                                  </i>
                                </p>
                        </div>



     	 	




     	 </div>
    </div>


 </body>
</html>

<script>
      window.sr = new scrollReveal();
</script>