---
title: Le Studio
---

 <div id="page_accueil" class="main">
      <div id="section">
       
      </div> 
</div> 

 <div id="accueil-droite"> 
 </div>

<div  id="tittle_studio" class="text-center">
 	<h1>Le Studio</h1>
 	<%= image_tag"barre.svg" %> 
</div>

<div id="vertical_spacer3">
	
</div>

<div id="presentation_studio">

	<div class="row studio">
		
		<div class="col-xs-12 col-md-6">
			<p>
				Say Hype est un studio de création graphique spécialisé dans la confection d’identité visuelle.
				Notre travail est l’aboutissement d’une succession de détails de la création graphique jusqu’à la technique d’impression, le choix du papier, le toucher.
				Chaque détail s’harmonise pour créer, un objet à forte valeur ajoutée, esthétique et technique.
				Dans une volonté de perfection, nous nous attelons également à la création de site web sur-mesure ou Open Source (WordPress par exemple).
			</p>
			
		</div>

		<div class="col-xs-12 col-md-6 studio_p2">
			<p>
				En s’inscrivant dans un univers poétique, nous révélons la délicatesse de chacune de vos idées pour satisfaire l’exigence de vos projets. <br>
				Doté d’un esprit raffiné, Say Hype, Studio de communication indépendant s’attèle à la conception de votre identité visuelle. Un travail authentique, une création sur mesure et singulière, la passion du graphisme : c’est en ces quelques mots que l’on pourrait le définir.
			</p>
		</div>		
	</div>

	<div id="vertical_spacer3">
	
	</div>

	<div class="text-center">
	<h1>Nos Clients</h1>
	</div>

	<div id="vertical_spacer4">
	
	</div>

<!-- Colonne 1 -->
	<div class="row studio">


		<div class="col-xs-12 col-md-4 text-center">
				<%= image_tag"logo_anacarballo_rose.svg" %> 
		</div>

		<div class="col-xs-12 col-md-4 text-center">
				<%= image_tag"logo_bbf_rose.svg" %> 
		</div>	

		<div class="col-xs-12 col-md-4 text-center">
				<%= image_tag"logo_cotebassin_rose.svg" %> 
		</div>

	</div>	

	<div id="vertical_spacer4">
	
	</div>

<!-- Colonne 2 -->
	<div class="row studio">


		<div class="col-xs-12 col-md-4 text-center">
				<%= image_tag"logo_33prest_rose.svg" %> 
		</div>

		<div class="col-xs-12 col-md-4 text-center">
				<%= image_tag"logo_mindful_rose.svg" %> 
		</div>	

		<div class="col-xs-12 col-md-4 text-center">
				<%= image_tag"logo_soa_rose.svg" %> 
		</div>

	</div>	

	<div id="vertical_spacer4">
	
	</div>

<!-- Colonne 3 -->
	<div class="row studio">


		<div class="col-xs-12 col-md-4 text-center">
				<%= image_tag"logo_jardinsdeden_rose.svg" %> 
		</div>

		<div class="col-xs-12 col-md-4 text-center">
				<%= image_tag"logo_toietmoi_rose.svg" %> 
		</div>	

		<div class="col-xs-12 col-md-4 text-center">
		</div>

	</div>		
</div>

	<div id="vertical_spacer4">
	
	</div>

                        <div class="vertical_spacer">
                            <br> </br>
                        </div> 

                        <div class="signature text-center">
                                <p>
                                  <i>
                                  <svg version="1.1" class="goutte_gauche" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        width="20px" height="14px" viewBox="0 0 595.279 841.891" enable-background="new 0 0 595.279 841.891"
                                        xml:space="preserve">
                                        <path d="M499.238,433.077c0,108.204-87.773,195.931-195.948,195.931c-108.198,0-195.919-87.727-195.919-195.931
                                        c0-108.24,130.045-215.331,195.919-380.218C374.343,209.906,499.238,324.837,499.238,433.077z"/>
                                        </svg>
                                        Say Hype, Studio de Communication Globale - 30 rue de la Vieille Tour, Bordeaux, France 
                                        <svg version="1.1" class="goutte_droite" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        width="20px" height="14px" viewBox="0 0 595.279 841.891" enable-background="new 0 0 595.279 841.891"
                                        xml:space="preserve">
                                        <path d="M499.238,433.077c0,108.204-87.773,195.931-195.948,195.931c-108.198,0-195.919-87.727-195.919-195.931
                                        c0-108.24,130.045-215.331,195.919-380.218C374.343,209.906,499.238,324.837,499.238,433.077z"/>
                                  </svg>
                                  </i>
                                </p>

                        </div>
<script>
jQuery(document).ready(function(){
                                                  $("#nav").show().animate({left: '0px'}, 1000, "easeInOutQuad");
  });
</script>
 