---
title: Réalisations
---






        		<div id="realisation-droite" class="text-center container"> 
        			<div class="titre"> <h1>REALISATIONS</h1> 
						<p>
							Voici une sélection des travaux réalisés avec passion.
						</p>
        			</div>

<!-- Colonne 1 -->

					<div class="row" data-sr>
					  <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr"wait 1s, ease-in-out 100px">
					      <% link_to "/lesjardinsdeden.html", :class => "animsition-link"  do %>
					       <%= image_tag "jardineden_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>BBF</h3>
					      </div>
					    </div>
					  </div>
					

					 <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr"wait 1s, ease-in-out 100px">
					      <% link_to "/cotebassin.html", :class => "animsition-link"  do %>
					       <%= image_tag "cotebassin_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>COTE BASSIN</h3>
					      </div>
					    </div>
					  </div>
					

					  <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr"wait 1s, ease-in-out 100px">
					      <% link_to "/33prest.html", :class => "animsition-link"  do %>
					       <%= image_tag "33prest_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>33 PREST</h3>
					      </div>
					    </div>
					  </div>
					</div>

<!-- Colonne 2 -->

					<div class="row" data-sr>
					  <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr"wait 1s, ease-in-out 100px">
					      <% link_to "/lesjardinsdeden.html", :class => "animsition-link"  do %>
					       <%= image_tag "jardineden_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>JARDIN D'EDEN</h3>
					      </div>
					    </div>
					  </div>
					

					 <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr"wait 1s, ease-in-out 100px">
					      <% link_to "/mindful.html", :class => "animsition-link"  do %>
					       <%= image_tag "mindful_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>MINDFUL</h3>
					      </div>
					    </div>
					  </div>
					

					  <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr"wait 1s, ease-in-out 100px">
					      <% link_to "/soa.html", :class => "animsition-link"  do %>
					       <%= image_tag "soa_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>SOA</h3>
					      </div>
					    </div>
					  </div>
					</div>
					
<!-- Colonne 3 -->

					<div class="row">
					  <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr="wait 0.25s, ease-in-out 100px">
					      <% link_to "/toietmoi.html", :class => "animsition-link"  do %>
					       <%= image_tag "toietmoi_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>TOI + MOI</h3>
					      </div>
					    </div>
					  </div>
					

					 <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr="wait 0.25s, ease-in-out 100px">
					      <% link_to "/titan.html", :class => "animsition-link"  do %>
					       <%= image_tag "titan_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>TITAN</h3>
					      </div>
					    </div>
					  </div>
					

					  <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr="wait 0.25s, ease-in-out 100px">
					      <% link_to "/alliance.html", :class => "animsition-link"  do %>
					       <%= image_tag "alliance_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>ALLIANCE</h3>
					      </div>
					    </div>
					  </div>
					</div>
<!-- Colonne 4 -->
					<div class="row">
					  <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr="wait 0.25s, ease-in-out 100px">
					      <% link_to "/karodart.html", :class => "animsition-link"  do %>
					       <%= image_tag "karodart_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>KARO D'ART</h3>
					      </div>
					    </div>
					  </div>
					

					 <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr="wait 0.25s, ease-in-out 100px">
					      <% link_to "/titan.html", :class => "animsition-link"  do %>
					       <%= image_tag "titan_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>ILLUSTRATIONS</h3>
					      </div>
					    </div>
					  </div>
					

					  <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr="wait 0.25s, ease-in-out 100px">
					      <% link_to "/alliance.html", :class => "animsition-link"  do %>
					       <%= image_tag "alliance_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>COLLAGES</h3>
					      </div>
					    </div>
					  </div>
					</div>

				</div>

				<div class="vertical_spacer">
                            <br> </br>
                        </div> 

                        <div class="signature text-center">
                                <p>
                                 <i> - Say Hype, Studio de Communication Globale - 30 rue de la Vieille Tour, Bordeaux, France - </i>
                                </p>

                        </div>
		
		


<script>
      window.sr = new scrollReveal();
</script>