---
title: Réalisations
---



        		<div id="realisation-droite" class="text-center container"> 
        			<div class="titre">
						<p>
							Voici une sélection des travaux réalisés <br>
							avec passion.
						</p>
        			</div>

<!-- Colonne 1 -->

					<div class="row">
					  <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" >
					      <% link_to ""do %>
					       <%= image_tag "bbf_realisation.jpg"%>
					       <% end %>

					      <div class="caption text-center">
					        <h3>BBF</h3>
					      </div>
					    </div>
					  </div>
					

					 <div class="col-sm-12 col-md-4">
					    <div class="thumbnail">
					      <% link_to "/cotebassin.html", :class => "animsition-link"  do %>
					       <%= image_tag "cotebassin_realisation.jpg"%>
					       <% end %>

					      <div class="caption text-center">
					        <h3>COTE BASSIN</h3>
					      </div>
					    </div>
					  </div>
					

					  <div class="col-sm-12 col-md-4">
					    <div class="thumbnail">
					      <% link_to "/33prest.html", :class => "animsition-link"  do %>
					       <%= image_tag "33prest_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>33 PREST</h3>
					      </div>
					    </div>
					  </div>
					</div>

<!-- Colonne 2 -->

					<div class="row">
					  <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr"wait 0.25s, ease-in-out 100px">
					      <% link_to "/lesjardinsdeden.html", :class => "animsition-link"  do %>
					       <%= image_tag "jardineden_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>JARDINS D'EDEN</h3>
					      </div>
					    </div>
					  </div>
					

					 <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr"wait 0.25s, ease-in-out 100px">
					      <% link_to "/mindful.html", :class => "animsition-link"  do %>
					       <%= image_tag "mindful_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>MINDFUL</h3>
					      </div>
					    </div>
					  </div>
					

					  <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr"wait 0.25s, ease-in-out 100px" >
					      <% link_to "/soa.html", :class => "animsition-link"  do %>
					       <%= image_tag "soa_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>SOA</h3>
					      </div>
					    </div>
					  </div>
					</div>
					
<!-- Colonne 3 -->

					<div class="row">
					  <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr="wait 0.25s, ease-in-out 100px">
					      <% link_to "/toietmoi.html", :class => "animsition-link"  do %>
					       <%= image_tag "toietmoi_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>TOI + MOI</h3>
					      </div>
					    </div>
					  </div>
					

					 <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr="wait 0.25s, ease-in-out 100px">
					      <% link_to "/titan.html", :class => "animsition-link"  do %>
					       <%= image_tag "titan_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>TITAN</h3>
					      </div>
					    </div>
					  </div>
					

					  <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr="wait 0.25s, ease-in-out 100px">
					      <% link_to "/alliance.html", :class => "animsition-link"  do %>
					       <%= image_tag "alliance_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>ALLIANCE</h3>
					      </div>
					    </div>
					  </div>
					</div>
<!-- Colonne 4 -->
					<div class="row">
					  <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr="wait 0.25s, ease-in-out 100px">
					      <% link_to "/karodart.html", :class => "animsition-link"  do %>
					       <%= image_tag "karodart_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>KARO D'ART</h3>
					      </div>
					    </div>
					  </div>
					


					

					  <div class="col-sm-12 col-md-4">
					    <div class="thumbnail" data-sr="wait 0.25s, ease-in-out 100px">
					      <% link_to "", :class => "animsition-link"  do %>
					       <%= image_tag "collage_realisation.jpg" %>
					       <% end %>

					      <div class="caption text-center">
					        <h3>COLLAGES</h3>
					      </div>
					    </div>
					  </div>
					</div>

				</div>

				<div class="vertical_spacer">
                            <br> </br>
                        </div> 

                        <div class="signature text-center">
                                <p>
                                	<i>
                                	<svg version="1.1" class="goutte_gauche" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									width="20px" height="14px" viewBox="0 0 595.279 841.891" enable-background="new 0 0 595.279 841.891"
									xml:space="preserve">
									<path d="M499.238,433.077c0,108.204-87.773,195.931-195.948,195.931c-108.198,0-195.919-87.727-195.919-195.931
									c0-108.24,130.045-215.331,195.919-380.218C374.343,209.906,499.238,324.837,499.238,433.077z"/>
									</svg>
									Say Hype, Studio de Communication Globale - 30 rue de la Vieille Tour, Bordeaux, France - <a href="" data-toggle="modal" data-target="#mentions_legales">Mentions Légales</a>
									<svg version="1.1" class="goutte_droite" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									width="20px" height="14px" viewBox="0 0 595.279 841.891" enable-background="new 0 0 595.279 841.891"
									xml:space="preserve">
									<path d="M499.238,433.077c0,108.204-87.773,195.931-195.948,195.931c-108.198,0-195.919-87.727-195.919-195.931
									c0-108.24,130.045-215.331,195.919-380.218C374.343,209.906,499.238,324.837,499.238,433.077z"/>
									</svg>
									</i>
								</p>

                        </div>



<!-- Modal -->
<div class="modal fade" id="mentions_legales" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title text-center" id="myModalLabel">MENTIONS LEGALES</h2>
      </div>
      	<div class="modal-body">

		        <h3 class="text-center">Editeur</h3>
		        <p>
		        	SAY HYPE-STUDIO<br>
		        	30, rue de la Vieille Tour<br>
					33000 Bordeaux<br>
					<br>

					N°Siret : 807 572 540 00019<br>
					N° APE : 7410 Z<br>
					<br>

					Directrice: Julie Duverger<br>
					julie@sayhype-studio.fr<br><br>
				</p>

				<h3 class="text-center">Hébergement</h3>
				<p>
					1&1 SARL<br>
					7, place de la Gare<br>
					BP 70109<br>
					57201 Sarreguemines Cedex <br>

					https://www.1and1.fr/
		        </p>
		        <br>

		        <h3 class="text-center">Propriété Intellectuelle</h3>
		        <p>
		        	La structure générale, ainsi que les logiciels, textes, images animées ou fixes, sons, savoir-faire, dessins, graphismes et tous autres éléments composant ce site web sont de l'utilisation exclusive du studio Say Hype. Toute représentation totale ou partielle de ce site, par quelques procédés que ce soient, sans autorisation expresse du studio, est interdite et constituerait une contrefaçon sanctionnée par les articles L335-2 et suivants du Code de la propriété intellectuelle. 
		        </p>
		        <br>

		       <h3 class="text-center">Loi relative à l'informatique, aux fichiers et aux libertés</h3>
		       <p>
		       	Conformément à la loi n° 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l’égard des traitements de données à caractère personnel et modifiant la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données vous concernant. Il vous suffit d’écrire à l'adresse suivante : julie@sayhype-studio.fr.<br>

				L’utilisateur est notamment informé que, conformément à l’article 27 de la Loi Informatique, fichiers et libertés du 6 janvier 1978, les informations communiquées par l’utilisateur via les formulaires présents sur le site, sont nécessaires pour répondre à sa demande et sont destinés à l’exploitant du site Web, responsable du traitement, à des fins de gestion administrative et commerciale. L’utilisateur est également informé qu’il dispose d’un droit d’accès et de rectification portant sur les données le concernant en écrivant à l’exploitant du site Web dont l’adresse est la suivante : Say Hype-Studio, 30 rue de la Vieille Tour, 33000 Bordeaux.
		       </p>

		       <h3 class="text-center">Loi Applicable</h3>
		       <p>
		       	L'utilisation de ce site web est régi par la loi française. Tout litige sera de la compétence exclusive des Tribunaux de Bordeaux, sauf indication contraire affichée sur le site.
		       </p>
      	</div>
    </div>
  </div>
</div>

		


<script>
      window.sr = new scrollReveal();
</script>

